#El archivo docker-compose.yml define tres servicios:
  #redis, mongodb y server. 
#El servicio redis utiliza la imagen de Redis en su versión alpine,
  #el servicio mongodb utiliza la imagen de Mongo en su versión 4.2 con un usuario y contraseña específico
  #y el servicio server se construye a partir del Dockerfile y depende de los servicios redis y mongodb.
#El archivo también expone el puerto 1234.

version: '3'
services:
  redis:
    image: "redis:alpine"
  mongodb:
    image: "mongo:4.2"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
  server:
    build: .
    ports:
      - "1234:1234"
    depends_on:
      - redis
      - mongodb
    volumes:
      - .:/app
